
.antdp-login {
  /* margin-left: 20vw; */
  /* min-height: calc(100vh - 0px); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.antdp-login-form {
  width: 230px;
}


.antdp-login-title {
  padding-bottom: 24px;
}

.antdp-login-title img {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
  margin-right: 10px;
}

.antdp-login-title h1 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
