.antdp-login {
  /* margin-left: 20vw; */
  /* min-height: calc(100vh - 0px); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg);
  background-repeat: no-repeat;
  background-position: center 110px;
  background-size: 100%;
  /* filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity:0.5; opacity:0.8; */
}

.antdp-login-form {
  width: 250px;
  margin-top: 10px;
}


.antdp-login-title {
  padding-bottom: 24px;
}

.antdp-login-title img {
  display: inline-block;
  height: 44px;
  vertical-align: middle;
  margin-right: 10px;
}

.antdp-login-title h1 {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

