
.antdps-global-tabs .ant-tabs-bar {
  margin-bottom: 0 !important;
  background-color: #f5f5f5 !important;
  box-shadow: inset 0px 3px 8px 0px #33333317;
}

.antdps-global-tabs.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  padding: 3px 10px !important;

}

.antdps-global-tabs.ant-tabs.ant-tabs-card .ant-tabs-nav {
  padding: 5px 0 0 0 !important;
}
