lib
cjs
esm
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.lerna_backup
package-lock.json
yarn.lock
.kktp
build

.DS_Store
.cache
.vscode

*.log
*.bak
*.tem
*.temp
#.swp
*.swo
*.*~
~*.*
