#root, .ant-layout {
  height: 100%;
}

.ant-layout .ant-layout-header {
  box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
  background: #fff;
  padding: 0;
  line-height: 39px;
  height: 46px;
  z-index: 1210;
}

.ant-layout .ant-layout-sider {
  min-height: 100%;
  background-color: #001529;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
  overflow: auto;
  z-index: 9999;
}

.ant-layout-content {
  background-color: #fff;
}

.ant-tabs-bar {
  margin-bottom: 0 !important;
  background-color: #f5f5f5 !important;
}

.ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
  padding: 0 10px;
  line-height: 28px;
  height: 28px;
}

.ant-tabs-nav-container {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  height: 33px !important;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: transparent;
  box-shadow: inset 4px 0px 0px #1890ff;
}