._default_hero_title {
  margin: 0 0 32px;
  display: inline-block;
  font-family: Alibaba-PuHuiTi, Gill Sans, Gill Sans MT, Calibri, Trebuchet MS,
    sans-serif;
  color: #83cdf8;
  font-size: 180px;
  line-height: 1;
  .span {
    color: transparent;
    text-shadow: 0 10px 20px rgba(22, 119, 255, 0.15);
    background: linear-gradient(30deg, #90d5ff 30%, #65a5ff);
  }
}
.des {
  margin: 32px;
  color: #4f5866;
  font-size: 20px;
  line-height: 1.6;
}

._default_hero_actions {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}
