    .antdp-basic-layouts-light{
        --primary-slider-bg: #1d1d1d !important;
        --primary-header-bg: #fff !important;
        --primary-shadow: #9393930d !important;
        --primary-slider-trigger-border:#fff !important;
        --primary-header-text-color:#1d1d1d !important;
        --primary-title-text-color:#1677ff !important;
        --primary-sider-trigger-text-color:#fff !important;
        --primary-content-bg: #f5f5f5 !important;
    }
